* {
  font-family:cursive;

}
.profile-image {
  height: 70px;
  border-radius: 50px;
}
.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to right, rgb(254, 254, 253), #8002fd, #b06df2);
}
.profileContainer {
  width: 320px;
  padding: 15px;
  color: white;
  background-color: skyblue;
  border-radius: 12px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.userDetails {
  margin-left: 15px;
  text-align: left;
}
